
body {
    margin: 0;
}

img {
    width: 1920px;
    height: 100vh;
    display: flex
}

h1 {
    color: cornflowerblue;
}

.login {
    background-color: aliceblue;
    position: absolute;
    width: 530px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 20px;
    border-radius: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
    line-height: 30px;
}

input {
    padding: 15px;
    width: 500px;
    margin-bottom: 10px;
    border: none;
    font-size: 15px;
    border-radius: 20px;
}

.botaoLoguin {
    padding: 15px;
    width: 150px;
    margin-bottom: 10px;
    border: none;
    font-size: 15px;
    border-radius: 20px;
    color: azure;
    background-color: cornflowerblue;
    cursor: pointer;
}

a { 
    text-decoration: none;
    color: cornflowerblue;
    font-size: 17px;
}

.CrieConta__link:hover {
    text-decoration: underline;   
}
.EsqueciSenha__link:hover {
    text-decoration: underline;
}

.senha-container {
    position: relative;
    width: 100%;
    margin-bottom: 10px;
  }
  
  .senha-container input {
    width: 100%;
    padding-right: 50px; 
  }
  
  .toggle-senha {
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    font-size: 18px;
    color: #333;
  }

  .fundo-login {
    position: relative;
    height: 100vh;
    width: 100%;
    overflow: hidden;
  }
  
  .imagem-fundo {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
  }
  
  .overlay-login {
    position: relative;
    width: 100%;
    height: 100%;
  }
  
  /* Estilos para celulares */
  @media screen and (max-width: 600px) {
    .login {
      width: 90%;
      font-size: 16px;
      padding: 15px;
    }
  
    .input-style,
    input {
      width: 100%;
      font-size: 14px;
      padding: 12px;
    }
  
    .senha-container {
      width: 100%;
    }
  }
  
  